

/*
font-family: 'Roboto', sans-serif;
Light 300
Regular 400
Bold 700

font-family: 'Encode Sans SC', sans-serif;
Regular 400
Semi-bold 600

font-family: 'Open Sans', sans-serif;
Light 300
Regular 400
Semi-bold 600

*/

/* Barra de Navegación*/
.logo {
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: 600;
}
.logo img { 
    width: 30px;
    margin-right: 10px;
}
.nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

}
.nav-link a {
   
    
}

/* Carousel*/
